.row {
    display: flex;
    height: 20px;
}

.grid-box {
    width: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

#last-row .grid-box {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.last-box {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.selected {
    background-color: aqua;
}